[Desktop Entry]
Name=Hearthlight Config
Comment=Hearthlight Runtime Manager
Exec=/home/lauretta/hearthlight/run/run.sh
Icon=icon.png
Terminal=false
Type=Application
